body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:605px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:385px;
  width:80px;
  height:24px;
  display:flex;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:136px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:605px;
  height:136px;
  display:flex;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:156px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:156px;
  display:flex;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u141 label {
  left:0px;
  width:100%;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:299px;
  width:274px;
  height:15px;
  display:flex;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u141_img.selected {
}
#u141.selected {
}
#u141_img.disabled {
}
#u141.disabled {
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:258px;
  word-wrap:break-word;
  text-transform:none;
}
#u141_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u142 label {
  left:0px;
  width:100%;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:329px;
  width:274px;
  height:15px;
  display:flex;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u142_img.selected {
}
#u142.selected {
}
#u142_img.disabled {
}
#u142.disabled {
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:258px;
  word-wrap:break-word;
  text-transform:none;
}
#u142_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
